[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailLevel
Exec=SailLevel
Name=SailLevel
# translation example:
Name[fi]=SailLevel

